<% if logged_in? %>
	<ul>
 	<li><strong>Logged in as <%= current_user.login %></strong></li> 
	<li><%= link_to "Dashboard", root_path %></li>
	<li class="arrow"><%= link_to "My Account", profile_path(current_user), :class => "slideup" %></li>
	<% if admin? -%><li class="arrow"><%= link_to "Administration", admin_root_path, :class => "slideup" %></li><% end -%>
	<li><%= link_to "Log out", logout_path, :method => :delete %></li>
	</ul>
<% else %>
  <div>
    <ul>
		<li class='arrow'><a href="#signup" class="slideup">Sign Up</li>
	</ul>	
	<ul>
		<li class='arrow'><a href="#login" class="slideup">Login</a></li>
	</ul>
  </div>
<% end %>
